<p>
Player 1: <%= @player1.name %> <%= @player1.hp %> HP
</p>
<p>
Player 2: <%= @player2.name %> <%= @player2.hp %> HP
<form method="post" action="/p1_attacked">
        <input type="hidden" name="status" value="<%= @player2.name%> attacks!"> 
        <button type="submit">ATTACK <%= @player1.name.upcase %>!</button>
</form>
</p>
<p><%= @status %></p>
